// No font import in here. Use the Design > Fonts settings page.

html {
	font-size: 16px;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $color__text-main;
	font-family: $font__body;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.4;
	margin: 0;
	text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $color__text-main;
	font-family: $font__heading;
	padding: 0;
	margin: 0;
}

h1 {
	font-size: 3.052rem;
}

h2 {
	font-size: 2.441rem;
}

h3,
.subheadline {
	font-size: 1.953rem;
}

h4 {
	font-size: 1.563rem;
}

h4 {
	font-size: 1.25rem;
}

li,
p,
td {
  font-size: 1.125rem;
  font-size: 0.92rem;
  line-height: 1.4;
}

dl,
ol,
ul {
	padding-left: 1rem;
}
