// No font import in here. Use the Design > Fonts settings page.

html {
	font-size: 16px;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $color__text-main;
	font-family: $font__body;
	font-weight: 300;
	font-size: 1em;
	line-height: 1.75;
	margin: 0;
	text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6,
.page-title,
.page .panel-content .entry-title,
body.page:not(.twentyseventeen-front-page) .entry-title {
	color: $color__text-main;
	font-family: $font__heading;
	font-weight: 400;
	text-transform: none;
	letter-spacing: 0;
	line-height: 1.25;
	padding: 0;
	margin: 0;
}

h1,
.page-title,
.page .panel-content .entry-title,
.single-post .entry-title, .page .entry-title,
body.page:not(.twentyseventeen-front-page) .entry-title {
	font-size: 2.441rem;

	@media screen and (min-width: $md) {
		font-size: 3.052rem;
	}
}

h2 {
	font-size: 1.953rem;

	@media screen and (min-width: $md) {
		font-size: 2.441rem;
	}
}

h3,
.subheadline {
	font-size: 1.563rem;

	@media screen and (min-width: $md) {
		font-size: 1.953rem;
	}
}

h4 {
	font-size: 1.25rem;

	@media screen and (min-width: $md) {
		font-size: 1.563rem;
	}
}

h5, h6 {
	font-size: 1.25rem;
}

li,
p,
td {
	font-size: 1rem;
}

dl,
ol,
ul {
	padding-left: 1rem;
}

.navigation-top .menu-item a,
button,
.wp-block-button__link {
	font-family: $font__heading;
	font-weight: 400 !important;
	font-size: 1rem !important;
	border-radius: 0;
	&:hover, &:focus {
		background: #767676;
	}
}

