.site-footer {
	background-color: $nwsbg;
	border-top: none;

	.site-info {
		width: 100%;
		text-align: center;
	}

	.widget-column.footer-widget-1 {
		float: none;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: nowrap;
		flex-direction: column;

		@media screen and (min-width:62em) {
			align-items: center;
			flex-wrap: wrap;
			flex-direction: column;
		}

		@media screen and (min-width:48em) {
			align-items: flex-end;
			flex-wrap: nowrap;
			flex-direction: row;
		}
	}

	.widget-area ul li a {
		box-shadow: inset 0 -1px 0 rgb(247, 247, 247);
	}
}
