.wp-block-columns {
  // Fixed some global Gutenberg issues here.
  @media screen and (min-width: 600px) {
    flex-wrap: nowrap;
  }
}

.wp-block-media-text {
  &__content {
    align-self: start;
  }
}

.wp-block-media-text__content h2 {
	font-size: 40px;
	line-height: 45px;
}

/* Fehler beim 3-Spalten Teaser: Teilweise fehlt der Abstand zwischen den Spalten. */
.wp-block-column:not(:first-child) {
	@media screen and (min-width:600px) and (max-width: 781px) {
		margin-left: 32px;
	}
}

/* Spezielles CSS für den seitenbreiten lila Streifen mit NL-Abo */
.wp-block-columns.block-sidewide {
	display: grid;
	position: relative;
	width: 100vw;
	margin: 0 -50vw;
	left: 50%;
	right: 50%;
	grid-template-columns: minmax(1em,1fr) minmax(1em,1000px) minmax(1em,1fr);
	background-color: $nwsbg;
	padding: 2em 0;
	grid-gap: 1em;

	@media screen and (min-width:62em) {
		grid-template-columns: minmax(1em,1fr) minmax(1em,1000px) minmax(1em,1fr);

		.block-sidewide .wp-block-column:nth-child(2) {
			padding: 0 3em;
		}
	}
}

.block-sidewide .wp-block-column:nth-child(2) {
	padding: 0 .5em;
	margin-left: 0;

	@media screen and (min-width:600px) {
		padding: 0 1.5em;
	}
	@media screen and (min-width:62em) {
		padding: 0 3em;
	}
}

@media screen and (min-width:600px) {
	/* Input + Submit nebeneinander ab 600px Breite */
	#subscribe-email {
		width: 75%;
		display: inline-block;
	}

	#subscribe-submit {
		display: inline-block;
	}
}

.wordcamp-block.wordcamp-speakers {
	padding: 0;

	h3 {
		font-size: 1rem;
		line-height: inherit;

		@media (max-width: 500px) {
			min-height: 4rem;
		}
	}
}

.wordcamp-block.wordcamp-sessions {
	padding: 0;

	& > li {
		margin-bottom: 5rem;
	}
}