.wcpt-session-type-session,
.wcb-session-cell-content {
    &:after {
        font-size: 0.9em;
        color: #333;
        border-radius: 3px;
        padding: 2px 5px;
        margin: 5px 5px 5px 0;
        border: 1px solid #ddd;
        background-color: #ddd;
        display: inline-block;
        float: left;
    }
}


.wcpt-session-type-session {
    &:after {
        color: #fff;
    }
    &.wcb-session-category-talk:after {
        content: "#talk";
        border: 1px solid #FF904D;
        background-color: #FF904D;
    }
    &.wcb-session-category-workshop:after {
        content: "#workshop";
        border: 1px solid #7FD957;
        background-color: #7FD957;
    }
    &.wcb-session-category-podium:after {
        content: "#podium";
        border: 1px solid #FF5657;
        background-color: #FF5657;
    }
}

.wcb-session-cell-content {
    a {
        margin-bottom: 5px;
        box-shadow: inset 0 -1px 0 #ccc;

        &:after {
            content: "";
            display: block;
        }
    }

    &:after {
        .wcb-session-category-gutenberg & {
            content: "#gutenberg";
        }
        .wcb-session-category-pagespeed & {
            content: "#pagespeed";
        }
        .wcb-session-category-seo & {
            content: "#SEO";
        }
        .wcb-session-category-e-commerce & {
            content: "#e-commerce";
        }
        .wcb-session-category-datenschutz & {
            content: "#datenschutz";
        }
        .wcb-session-category-dev & {
            content: "#dev";
        }
        .wcb-session-category-content & {
            content: "#content";
        }
        .wcb-session-category-business & {
            content: "#business";
        }
        .wcb-session-category-design1 & {
            content: "#design";
        }
    }
}

table.wcpt-schedule {
    font-family: "Roboto", sans-serif;

    th {
        color: #fff;
        background-color: #36B6FF;
        border-bottom: 2px solid #dadada;

        &:nth-child(4) {
            .wcpt-track-name {
                display: none;
            }
        }
    }

    th, td {
        @media screen and (min-width: 700px) {
            width: 25%;
            &:nth-child(1) {
                width: 80px;
            }
        }

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(4) {
            border-right: 1px solid #dadada;
        }
        &.wcb-session-mittagspause,
        &.wcb-session-kuchenpause {
            border: none !important;
        }
    }

    tbody {
        border-bottom: 5px solid #eee;

        tr {
            &:nth-child(even) {
                background-color: #fff;
            }
            &:nth-child(odd) {
                background-color: #eee;
            }
        }
    }

    tbody tr.global-session {
        background-color: #ccc;

        .wcb-session-cell-content {
            font-weight: bold;
            text-align: center;
            letter-spacing: 1px;
        }
    }

    .wcpt-session-speakers {
        font-size: 0.8em;

        a {
            line-height: 1;
        }

        &:before {
            content: " von ";
        }
    }

}