.wordcamp-sessions {
    &__time-location {
        padding-top: 20px;
    }
    &__categories {
        color: transparent !important;
    }
    &__category {
        font-size: 0.9em;
        color: #333;
        border-radius: 3px;
        padding: 2px 5px;
        margin: 5px 5px 5px 0;
        border: 1px solid #ddd;
        background-color: #ddd;

        &:before {
            content: "#";
        }
        &.slug-talk {
            color: #fff;
            border: 1px solid #FF904D;
            background-color: #FF904D;
        }
        &.slug-business {
            border: 1px solid #ddd;
            background-color: #ddd;
        }
        &.slug-workshop {
            color: #fff;
            border: 1px solid #7FD957;
            background-color: #7FD957;
        }
    }
}

