/*--------------------------------------------------------------
## Sponsor-Level
--------------------------------------------------------------*/
table.sponsoring {
	th, td {
		word-break: inherit;
	}
	thead {
		background: #ededed;
	}
	th:nth-child(2),
	td:nth-child(2) {
		text-align: center;
		background: #d1a054;
	}
	th:nth-child(3),
	td:nth-child(3) {
		text-align: center;
		background: #c4bfc4;
	}
	th:nth-child(4),
	td:nth-child(4) {
		text-align: center;
		background: #a66840;
	}
	th:nth-child(5),
	td:nth-child(5) {
		text-align: center;
		background: #ededed;
	}
	td:empty {
		background: white;
	}
}


/*--------------------------------------------------------------
## Sponsor Overview
--------------------------------------------------------------*/
.wcorg-sponsor {
	@media (min-width: 37.5em) {
		display: flex;
		width: 50%;
	}
	@media (min-width: 64em) {
		width: 33%;
	}

	a {
		align-self: center;
	}
	img {
		margin-bottom: 0
	}
}


@media (min-width: 31em) {
	.wcorg-sponsors > div {
		display: flex;
		flex-wrap: wrap;

		h2 {
			flex-basis: 100%;
			position: relative;
			margin-top: 1em;
			text-align: center;

			&:after,
			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				width: 100%;
				-webkit-transform: translateX(-50%);
				transform: translateX(-50%);
				border-top: 4px solid #ededed;
				z-index: -1;
			}
			&:after {
				width: 5em;
				border-color: white;
			}
		}
		&.wcorg-sponsor-level-gold h2:before {
			border-color: #ffbd59;
		}
		&.wcorg-sponsor-level-silber h2:before {
			border-color: #c8d1d8;
		}
	}
}


.wcorg-sponsor-description {
	display: flex;
	margin: .5em;
	padding: 1em;
	border: 1px solid #c9c9c9;
	align-self: stretch;

	@media (min-width: 37.5em) {
		display: flex;
		margin: 1em;
		padding: 1em;
		border: 1px solid #c9c9c9;
		align-self: stretch;
	}
}
